# Ігнорувати файл з паролями
.env

# Ігнорувати бекапи бази даних
*.sql
koha_data_backup.sql

# Ігнорувати папку з даними RabbitMQ (якщо є)
rabbitmq_plugins
files/docker/templates
archive/
NEW_CHAT_START_HERE.md
README.example.md