services:
  koha:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        # Передаємо лише номер версії (напр., 25.05) у Dockerfile
        KOHA_VERSION: ${KOHA_IMAGE_TAG}
    image: ${KOHA_IMAGE_NAME}:${KOHA_IMAGE_TAG}
    ports:
      - 8080:8080 # OPAC
      - 8081:8081 # Staff
    networks:
      - koha
    cap_add:
      - DAC_READ_SEARCH
      - SYS_NICE
    environment:
      MYSQL_SERVER: db
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      KOHA_INSTANCE: ${KOHA_INSTANCE}
      KOHA_DOMAIN: ${KOHA_DOMAIN}
      MEMCACHED_SERVERS: memcached:11211
      USE_ELASTICSEARCH: "true"
      ELASTICSEARCH_HOST: es:9200
      # --- ВИПРАВЛЕНО: Беремо з .env ---
      TZ: ${KOHA_TIMEZONE}
      KOHA_LANGS: ${KOHA_LANGS}
      # Налаштування RabbitMQ (Беремо з .env)
      MB_HOST: rabbitmq
      MB_PORT: 61613
    depends_on:
      db:
         condition: service_healthy
      rabbitmq:
         condition: service_started
      memcached:
         condition: service_started
      es:
         condition: service_healthy
    restart: always
    volumes:
      - koha_config:/etc/koha/sites
      - koha_data:/var/lib/koha

  rabbitmq:
    build: ../rabbitmq  
    image: koha-local-rabbitmq 
    networks:
        - koha
    restart: always

  db:
    image: docker.io/mariadb:11
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mariadb-koha:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASS}
    networks:
      - koha
    restart: always
    healthcheck:
      # Тепер healthcheck використовує змінні з .env!
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u ${DB_USER} -p${DB_PASS} || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s
    

  es:
    build:
      context: ..
      dockerfile: elasticsearch/Dockerfile
    image: my-local-es:8.19.6
    environment:
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    networks:
      - koha
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s
    volumes:
    - es-data:/usr/share/elasticsearch/data**

  memcached:
    image: docker.io/memcached
    networks:
      - koha
    restart: always

volumes:
    mariadb-koha:
    koha_config:
    koha_data:
    es-data:

networks:
    koha: