services:
  koha:
    # Ми будемо "збирати" образ, а не "тягнути" готовий
    build: 
      context: ..
      dockerfile: Dockerfile   
    image: koha-local:24.11 # Даємо йому локальне ім'я
    ports:
      - 8080:8080 # OPAC
      - 8081:8081 # Staff
    networks:
      - koha
    cap_add:
      - DAC_READ_SEARCH
      - SYS_NICE
    environment:
      # --- ВИПРАВЛЕНО ---
      # Ми використовуємо імена за замовчуванням зі скрипта 02-setup-koha.sh
      MYSQL_SERVER: db
      MYSQL_USER: koha_default
      MYSQL_PASSWORD: koha_password # Ви можете змінити це
      DB_NAME: koha_default
      KOHA_INSTANCE: default # Це відповідає скрипту
      # ---------------------
      MEMCACHED_SERVERS: memcached:11211
      MB_HOST: rabbitmq
    depends_on:
      db:
         condition: service_healthy
      rabbitmq:
         condition: service_started
      memcached:
         condition: service_started
    restart: always # Додано для стабільності

  rabbitmq:
    image: docker.io/rabbitmq:3-management # <-- ЗМІНЕНО: (беремо з STOMP)
    environment:
        - RABBITMQ_DEFAULT_PLUGINS=rabbitmq_stomp # <-- Вмикаємо STOMP тут
    networks:
        - koha
    restart: always
      # Ми ВИДАЛИЛИ 'build:' та 'volumes:' - вони ламали права доступу

  db:
    image: docker.io/mariadb:11
    volumes:
      - mariadb-koha:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: koha_default
      MARIADB_USER: koha_default
      MARIADB_PASSWORD: koha_password
    networks:
      - koha
    restart: always
    healthcheck:
      # --- ВИПРАВЛЕНО: "жорстко" прописані логін/пароль ---
      test: ["CMD-SHELL", "mariadb-admin ping -h localhost -u koha_default -pkoha_password || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s

  memcached:
    image: docker.io/memcached
    networks:
      - koha
    restart: always # Додано для стабільності

volumes:
    mariadb-koha:

networks:
    koha: